.sports-container {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  /* Use viewport height to make container fill the height of the screen */
}

.sports-container h1 {
  color: #333;
  text-align: center;
}

.sports-container p {
  color: #666;
  max-width: 600px;
  margin: 20px auto;
  /* Centers the paragraph with automatic horizontal margins */
  text-align: center;
}