/* Poker.css */

.poker-container {
  padding: 20px;
  background-color: var(--light-shade);
  height: auto;
}

.poker-container h1 {
  color: var(--dark-shade);
  text-align: center;
}

.poker-container p {
  color: var(--text-secondary);
  max-width: 600px;
  margin: 20px auto;
  /* Centers the paragraph with automatic horizontal margins */
  text-align: center;
}